#ball-1 {
  width: 50px;
  height: 50px;
  /* background-color: red; */
  border-radius: 50%;
  position: absolute;
}

#ball-2 {
  width: 50px;
  height: 50px;
  /* background-color: blue; */
  border-radius: 50%;
  position: absolute;
}
